
body{
    margin: 0 auto;
}

.nav-ibank {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1400px;
    height: 50px;
    margin: 0 auto;
    background-color: blueviolet;
}

.nome-ibank,.home, .login{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.imagem-cabecalho {
    width: 1400px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
}

