<section>

    <div class="beneficios-tres">
        <img src="../../assets/images/cashmachine.jpg" class="imagem-caixa-eletronico" alt="">
        <p class="texto-beneficios-tres">Faça seus saques 24 por 7 sem taxas a ser cobradas na sua conta IBank</p>
    </div>

    <div class="beneficios-quatro">
        <p class="texto-beneficios-quatro">Deposite a sua confiança em nosso serviço digital e tenha a tranquilidade de saber 
            seu dinheiro está seguro e em boas mãos</p>
        <img src="../../assets/images/meditation.jpg" class="imagem-meditation" alt="">
    </div>


</section>
