body {
    margin: 0 auto;
}

.container-beneficios-dos, .textos-beneficios-dos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.imagem-beneficios-dos {
    margin-top: 10px;
    width: 450px;
    height: 500px;
    margin-right: 10px;
    margin-left: 50px;
    border-radius: 20px;
}

.beneficios-ibank-dos {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 50px;
    font-size: 40px;
    color: blueviolet;
    text-align: center;
}