<section>
    <div class="container-beneficios-dos">
        <img src="../../assets/images/queda5.jpg" class="imagem-beneficios-dos" alt="">
        <img src="../../assets/images/technology.png" class="imagem-beneficios-dos" alt="">
        <img src="../../assets/images/homen.jpg" class="imagem-beneficios-dos" alt="">
    </div>
    <div class="textos-beneficios-dos">
        <p class="beneficios-ibank-dos">Acreditamos na queda da burocracia porque seu tempo vale ouro</p>
        <p class="beneficios-ibank-dos">Operaçoes feitas com segurança em qualquer dispositivo</p>
        <p class="beneficios-ibank-dos">Oferecemos um sistema de entrega único do nosso cartão IBank</p>

    </div>

    <div>
        <div class="container-imagems-dos">
            <img src="../../assets/images/money.jpg" class="imagem-dos" alt="">
            <img src="../../assets/images/tecnology2.jpg" class="imagem-dos" alt="">
            <div class="imagem-feliz">
                <img src="../../assets/images/people1.jpg" class="imagem-dos-feliz" alt="">
            </div>
        </div>
        
    </div>
</section>
