<section>
    <footer class="footer-ibank">
            <div class="redes-ibank">
                <div class="footer-ibank-nome">
                    <p class="ibank">IBANK</p>
                </div>
                <div class="footer-ibank-nome">
                    <p class="texto-girls-power">Feito com amor pelo  grupo Gama-Avanade Girls Power</p>
                </div>
                <img src="../../assets/images/facebook-white.png" class="facebook-ibank" alt="">
                <img src="../../assets/images/instagram-white.png" class="instagram-ibank" alt="">
                <img src="../../assets/images/twitter-white.png" class="twitter-ibank" alt="">
                <img src="../../assets/images/soporte.png" class="soporte-ibank" alt="">
            </div>    
        </footer>
</section>
