body {
    margin: 0 auto;
}

.footer-ibank-nome{
    display: flex;
    flex-direction: row;
    background-color: burlywood;
}

.ibank {
    color: white;
    font-size: 20px;
    margin-left: -900px;
    
}
.texto-girls-power{
    color: white;
    font-size: 15px;
    margin-top: 40px;
    margin-left: -600px;
}
.redes-ibank {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: blueviolet;
}


.facebook-ibank, .instagram-ibank, .twitter-ibank,.soporte-ibank{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
