
<section class="login">
    <div class="tela-login">
        <img src="../../assets/images/celular2.jpg" class="celular" alt="">
        <div class="usuario-login">
        <h1>LOGIN CONTA IBANK</h1>
        <hr>
        <p class="texto-usuario-login">Número da Conta</p>
        <input type="number" [value]="numeroConta" (keyup)="digitouNumero($event)">
        <hr>
        <p class="texto-usuario-login">Agencia</p>
        <input type="number" [value]="numeroAgencia" (keyup)="digitouAgencia($event)">
        <hr>
        <p>Senha</p>
        <input type="password" [value]="senhaValor" (keyup)="digitouSenha($event)" >
        <hr>
        <button (click)="enviarDados(numeroConta, senhaValor)" type="ngsubmit" class="btn-logar">Logar</button>
        </div>
    </div>

</section>
    
