
<section class="login">
    <div class="tela-login">
        <img src="../../assets/images/celular2.jpg" class="celular" alt="">
        <div class="usuario-login">
        <h1>LOGIN CONTA IBANK</h1>
        <p class="texto-usuario-login">Usuário</p>
        <input type="text" [value]="valorDoInput" (keyup)="digitouNome($event)">
        <hr>
        <p class="texto-usuario-login">Número da Conta</p>
        <input type="number" placeholder="Digite o número da conta">
        <hr>
        <p class="texto-usuario-login">Agencia</p>
        <input type="text"placeholder="Digite o número da agencia">
        <hr>
        <p class="texto-usuario-login">Operação a realizar</p>
        <select name="" id="">Tranferência</select>
        <select name="" id="">Extrato</select>
        <hr>
        <p>Senha</p>
        <input type="text"placeholder="Digite a sua senha">
        <hr>
        <button (click)="enviarDados()" type="ngsubmit" class="btn-logar">Logar</button>
        </div>
    </div>

</section>
    
