<section>
    <div class="container-beneficios">
        <img src="../../assets/images/mobile5.jpg" class="imagem-beneficios" alt="">
        <img src="../../assets/images/mulher.jpg" class="imagem-beneficios" alt="">
        <img src="../../assets/images/mobile6.jpg" class="imagem-beneficios" alt="">
    </div>
    <div class="textos-beneficios">
        <p class="beneficios-ibank">Baixe já a nossa app e tenha uma conta digital 100% funcional</p>
        <p class="beneficios-ibank">Tenha total controle do seu dinheiro con um só clique</p>
        <p class="beneficios-ibank">Serviço exclusivo com descontos en suas compras online</p>

    </div>
</section>