<section>
    <div class="cabecalho">
        <nav class="nav-ibank">
            <a routerLink="/home" class="nome-ibank">IBANK</a>
            <a routerLink="/transferencia" class="transferencia">Transferência</a>
            <a routerLink="/extrato" class="extrato">Extrato</a>
        </nav>
        <div>
            <img src="../../assets/images/background-ibank.jpg" class="imagem-cabecalho" alt="">
        </div>
    </div>
</section>
<section class="login">
    <div class="tela-login">
        <img src="../../assets/images/celular2.jpg" class="celular" alt="">
        <div class="usuario-login">
                <h1 class="texto-usuario-transferencia">TRANSFERÊNCIA CONTA IBANK</h1>
                <p class="texto-usuario-transferencia">Número da Conta</p>
                <input type="number" [value]="numeroConta" (keyup)="contaCliente($event)" required>
                <hr>
                <p class="texto-usuario-transferencia">Número da Conta Destinatário</p>
                <input type="number" [value]="contaDestinatario" (keyup)="digitaContaDestinatario($event)" required>
                <hr>
                <p class="texto-usuario-transferencia">Valor a Transferir</p>
                <input type="double" [value]="valorTransferido" (keyup)="digitaValorTransferir($event)" required>
                <hr>
                <p class="texto-usuario-transferencia">Revise os dados e confirme ao clicar botão</p>
                <hr>
                <button (click)="enviarTransferencia($event)" type="ngSubmit" class="btn-logar">Confirmar</button>
        </div>
    </div>

</section>


<div>
    <div class="container-imagems-dos">
        <img src="../../assets/images/money.jpg" class="imagem-dos" alt="">
        <img src="../../assets/images/tecnology2.jpg" class="imagem-dos" alt="">
        <div class="imagem-feliz">
            <img src="../../assets/images/people1.jpg" class="imagem-dos-feliz" alt="">
        </div>
    </div>
    
</div>

<section>

    <div class="beneficios-tres">
        <img src="../../assets/images/cashmachine.jpg" class="imagem-caixa-eletronico" alt="">
        <p class="texto-beneficios-tres">Faça seus saques 24 por 7 sem taxas a ser cobradas na sua conta IBank</p>
    </div>

    <div class="beneficios-quatro">
        <p class="texto-beneficios-quatro">Deposite a sua confiança em nosso serviço digital e tenha a tranquilidade de saber 
            seu dinheiro está seguro e em boas mãos</p>
        <img src="../../assets/images/meditation.jpg" class="imagem-meditation" alt="">
    </div>


</section>
