body {
    margin: 0 auto;
}

.container-imagems-dos{
    display: flex;
    flex-direction: column;
    
}

.imagem-dos {
    width: 450px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 60px;
}

.imagem-feliz {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 10px;
}

.imagem-dos-feliz{
    width: 800px;
    height: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    transform: translateX(-700px);
    transform: translateY(-650px);
}