<section>
    <div class="container-bemvindos">
        <img src="../../assets/images/mulher2.jpg" class="imagem-bemvindos" alt="">
        <p class="bemvindos-ibank">Bem-Vindos a IBank e desfrute do nosso serviço digital!</p>
    </div>
</section>

<section>
    <div class="container-beneficios">
        <img src="../../assets/images/mobile5.jpg" class="imagem-beneficios" alt="">
        <img src="../../assets/images/mulher.jpg" class="imagem-beneficios" alt="">
        <img src="../../assets/images/mobile6.jpg" class="imagem-beneficios" alt="">
    </div>
    <div class="textos-beneficios">
        <p class="beneficios-ibank">Baixe já a nossa app e tenha uma conta digital 100% funcional</p>
        <p class="beneficios-ibank">Tenha total controle do seu dinheiro con um só clique</p>
        <p class="beneficios-ibank">Serviço exclusivo com descontos en suas compras online</p>

    </div>
</section>

<section>
    <div class="container-beneficios-dos">
        <img src="../../assets/images/queda5.jpg" class="imagem-beneficios-dos" alt="">
        <img src="../../assets/images/technology.png" class="imagem-beneficios-dos" alt="">
        <img src="../../assets/images/homem.jpg" class="imagem-beneficios-dos" alt="">
    </div>
    <div class="textos-beneficios-dos">
        <p class="beneficios-ibank-dos">Acreditamos na queda da burocracia porque seu tempo vale ouro</p>
        <p class="beneficios-ibank-dos">Operaçoes feitas com segurança em qualquer dispositivo</p>
        <p class="beneficios-ibank-dos">Oferecemos um sistema de entrega único do nosso cartão IBank</p>

    </div>
</section>
