<section>
    <div class="cabecalho">
        <nav class="nav-ibank">
            <a routerLink="/home" class="nome-ibank">IBANK</a>
            <a routerLink="/home" class="home">Home</a>
            <a routerLink="/login" class="login">Login</a>
        </nav>
        <div>
            <img src="../../assets/images/background-ibank.jpg" class="imagem-cabecalho" alt="">
        </div>
    </div>
</section>
<section>
    <div class="container-bemvindos">
        <img src="../../assets/images/mulher2.jpg" class="imagem-bemvindos" alt="">
        <p class="bemvindos-ibank">Bem-Vindos a IBank e desfrute do nosso serviço digital!</p>
    </div>
</section>

<section>
    <div class="container-beneficios">
        <img src="../../assets/images/mobile5.jpg" class="imagem-beneficios" alt="">
        <img src="../../assets/images/mulher.jpg" class="imagem-beneficios" alt="">
        <img src="../../assets/images/mobile6.jpg" class="imagem-beneficios" alt="">
    </div>
    <div class="textos-beneficios">
        <p class="beneficios-ibank">Baixe já a nossa app e tenha uma conta digital 100% funcional</p>
        <p class="beneficios-ibank">Tenha total controle do seu dinheiro con um só clique</p>
        <p class="beneficios-ibank">Serviço exclusivo com descontos en suas compras online</p>

    </div>
</section>

<section>
    <div class="container-beneficios-dos">
        <img src="../../assets/images/queda5.jpg" class="imagem-beneficios-dos" alt="">
        <img src="../../assets/images/technology.png" class="imagem-beneficios-dos" alt="">
        <img src="../../assets/images/homem.jpg" class="imagem-beneficios-dos" alt="">
    </div>
    <div class="textos-beneficios-dos">
        <p class="beneficios-ibank-dos">Acreditamos na queda da burocracia porque seu tempo vale ouro</p>
        <p class="beneficios-ibank-dos">Operaçoes feitas com segurança em qualquer dispositivo</p>
        <p class="beneficios-ibank-dos">Oferecemos um sistema de entrega único do nosso cartão IBank</p>

    </div>
</section>

<div>
    <div class="container-imagems-dos">
        <img src="../../assets/images/money.jpg" class="imagem-dos" alt="">
        <img src="../../assets/images/tecnology2.jpg" class="imagem-dos" alt="">
        <div class="imagem-feliz">
            <img src="../../assets/images/people1.jpg" class="imagem-dos-feliz" alt="">
        </div>
    </div>
    
</div>

<section>

    <div class="beneficios-tres">
        <img src="../../assets/images/cashmachine.jpg" class="imagem-caixa-eletronico" alt="">
        <p class="texto-beneficios-tres">Faça seus saques 24 por 7 sem taxas a ser cobradas na sua conta IBank</p>
    </div>

    <div class="beneficios-quatro">
        <p class="texto-beneficios-quatro">Deposite a sua confiança em nosso serviço digital e tenha a tranquilidade de saber 
            seu dinheiro está seguro e em boas mãos</p>
        <img src="../../assets/images/meditation.jpg" class="imagem-meditation" alt="">
    </div>


</section>
